<!--
File: bottom_nav.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->


<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-8 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>