<!--
File: footer.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->

<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>