<!--
File: about.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->


    <div class="jumbotron">
      <h1 class="display-5"><%= title %></h1>
      
    </div>

    <!--Short information about me-->
    <div class = "custom_div">
      <img id="myPhoto" src="Assets/images/my_photo.jpeg">
      <h3>Kateryna Khomenko.</h3>
      <a href="Assets/images/CV.pdf">download CV in pdf</a>
     
      </div>

      <div class = "custom_div">

      <h6>WHAT I DO:</h6>
      <p> 
        As a Developer I help my customers to implement
        their ideas in life.</p>  
      <h6>WHY IT MATTERS:</h6>
      <p>
          Every web or mobile application 
          is directed to simplify the life around us.
      </p>
      <h6>  HOW I DO IT:</h6>
      <p>
      By using skills and knowledge I posses,
       I create a web or mobile application in the best possible way.
      </p>
      </div>