<!--
File: home.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->


    <div class="jumbotron">
      <h1 class="display-5"><%= title %></h1>
      
      
    </div>
    
    <!--Greeting. Mission statement-->

    <div class="custom_div">
      <p>Hi! My name is Kateryna and this is my personal website.</p>
      <p>To learn more about me go to <a href="/about">About me page</a></p>
      <h3>Mission: To make the world simplier!</h3>
    </div>