<!--
File: projects.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->


    <div class="jumbotron">
      <h1 class="display-5"><%= title %></h1>
      
    </div>

<!--My Projects-->
    <div class="custom_div">
      <table id="table_projects">
        <tr>
          <th>Name of the Project</th>
          <th>Short Description</th>
        </tr>
        <tr>
          <td class="project_name">
            <img class="logo_projects" src="Assets/images/projects/recipes.png">
            <h5>Recipes</h5>
          </td>
          <td>
            <p>A mobile app that provides a convinient way to safe favorite recipes and share them with friends.</p>
            <p>My role: Developer, Designer, Project Manager</p>
          </td>
        </tr>
        <tr>
          <td class="project_name">
            <img class="logo_projects" src="Assets/images/projects/karaoke_fun.png">
            <h5>Karaoke fun</h5>
          </td>
          <td>
            <p>A mobile app that provides a set of games to play in karaoke bar or at home, together with friends or on your own.</p>
            <p>My role: Developer, Designer, Project Manager</p>
          </td>
        </tr>
        <tr>
          <td class="project_name">
            <img class="logo_projects" src="Assets/images/projects/cart.png">
            <h5>Cart</h5>
          </td>
          <td>
            <p>A mobile application that gives user an ability to create a shopping list, track availability of products and navigate to the items inside the store.</p>
            <p>My role: Project Manager</p>
          </td>
          </tr>
      </table>
    </div>