<!--
File: services.ejs
Name: Kateryna Khomenko
ID: 301091332
Date: 2-Jun-2021
-->

<div class="jumbotron">
      <h1 class="display-5"><%= title %></h1>
      
    </div>

    <!--Types of service I provide-->
    <div class="custom_div">
      <h4>Services I provide</h4>
      <ul>
        <li>Android application development
          <img class="logo_services" src="Assets/images/services_pics/android.png">
        </li>
        <li>Web application development
          <img class="logo_services" src="Assets/images/services_pics/web.png">
        </li>
      </ul>
    </div>

    <!--Types of skills I have-->
    <div class="custom_div">
      <table id="skills">
        <tr>
          <td colspan="2"><h4>Skills I have</h4></td>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Java
                <img class="logo_services" src="Assets/images/services_pics/java.png">
              </li>
              <li>Kotlin
                <img class="logo_services" src="Assets/images/services_pics/kotlin.png">
              </li>
              <li>C#
                <img class="logo_services" src="Assets/images/services_pics/c_sharp.png">
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>HTML
               <img class="logo_services" src="Assets/images/services_pics/html.png">
              </li>
              <li>CSS
               <img class="logo_services" src="Assets/images/services_pics/css.png">
              </li>
              <li>JS
                <img class="logo_services" src="Assets/images/services_pics/js.png">
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>